@model IEnumerable<Fiore.Models.ViewModels.UserViewModel>
<h3>Users Management</h3>
<table class="table table-sm table-bordered">
    <tr>
        <th>Emri</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Roli</th>
        <th>Veprime</th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr><td colspan="4" class="text-center">Users not found</td></tr>
    }
    else
    {
        foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Role</td>
                <td class="text-center">
                    <form method="post" asp-controller="Admin" asp-action="Delete">
                        <input type="hidden" name="Id" value="@user.Id" />
                        <a class="btn btn-sm btn-primary" asp-controller="Admin"
                   asp-route-id="@user.Id" asp-action="Create">Shto Rol</a>
                        <a class="btn btn-sm btn-warning" asp-controller="Admin"
                   asp-route-id="@user.Id" asp-action="ShowEdit">Modifiko</a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Fshi
                        </button>
                    </form>
                </td>
            </tr>
        }
    }
</table>