@model IEnumerable<Fiore.Models.ViewModels.ProductViewModel>

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h1> Search Results</h1>
                    <p class="subtitle">Searched keyword: @ViewBag.Keyword</p>
                </div>
            </div>
        </div>
    </div>
</div>
@if (@Model != null)
{
    <div class="product-section mt-150 mb-150">
        <div class="container">
            <div class="row">
                @foreach (var cartItem in Model)
                {
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="single-product-item">
                            <div class="product-image">
                                <img src="~/img/Products/@cartItem.Category.CategoryName/@cartItem.ImageName" alt="">
                            </div>
                            <h3>@cartItem.ProductName</h3>
                            <p class="product-price"><span>@cartItem.Category.CategoryName</span>@cartItem.UnitPrice $</p>
                            <input type="hidden" value="@cartItem.ProductId" class="productid" />
                            @if (@cartItem.IsInCart)
                            {

                                @*<label class=" qnt-lbl hide">Quantity:</label>*@
                                @*<input type="number" value="1" min="1" max="@cartItem.UnitsInStock" class="qnt hide" />*@
                                <a class="cart-btn add-to-cart hide"><i class="fas fa-shopping-cart"></i>Add to cart</a>
                                <a asp-action="ViewCart" class="cart-btn view-cart" asp-controller="ShoppingCart">View Cart</a>
                            }
                            else
                            {
                                @*<label style="margin-left:auto; margin-right:auto; margin-bottom:5px" class="qnt-lbl">Quantity:</label>*@
                                @*<input style="margin-left:auto; margin-right:auto; margin-bottom:5px" type="number" value="1" min="1" max="@cartItem.UnitsInStock" class="qnt" />*@
                                <a style="margin-left:auto; margin-right:auto;margin-top:5px; margin-bottom:15px" class="cart-btn add-to-cart ">Add to cart</a>
                                <a asp-action="ViewCart" class="cart-btn view-cart hide" asp-controller="ShoppingCart">View Cart</a>
                            }
                            <a class="cart-btn" asp-action="Details" asp-controller="Products" asp-route-id="@cartItem.ProductId">Product Details</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

}
else
{
    <div style="margin-left:auto; margin-right:auto">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="cart-table-wrap">
                        <h2>Empty search result</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
</script>

<script type="text/javascript">

    $(document).ready(function() {
        $(".add-to-cart").click(function(){
            var productid= $(this).siblings('.productid').val();
            var qnt= $(this).siblings('.qnt').val();
            $(this).siblings('.view-cart').show();
            //$(this).siblings('.qnt').hide();
            //$(this).siblings('.qnt-lbl').hide();
            $(this).hide();

            $.ajax({
                type: 'POST',
                url: '/ShoppingCart/AddCartItem?id='+productid+'&quantity='+qnt,
                success: function (result) {
                    alert('Successfully received Data ');
                }
            });
        });
    });
</script>

