@model List<CartItem>


<html>
<body>
    <div class=" text-center">
        <a asp-action="Index" asp-controller="Products" class=" btn btn-default">Continue Shoping</a>
    </div>

    @if (Model != null && Model.Any())
    {
        decimal TotalPrice = 0;
        <table class="table">
            <tr>
                <th>Product  </th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Subtotal</th>
            </tr>
            @foreach (var cartItem in Model)
            {
                var Subtotal = @cartItem.Quantity * @cartItem.Product.UnitPrice;
                TotalPrice = TotalPrice + Subtotal;
                <tr>
                    <td>
                        @cartItem.Product.ProductName
                    </td>
                    <td>
                        <input type="hidden" value="@cartItem.Product.ProductId" class="productid">
                        <input type="number" min="1" value="@cartItem.Quantity" class="newquantity">
                    </td>
                    <td>
                        @cartItem.Product.UnitPrice
                    </td>

                    <td>
                        @Subtotal
                    </td>
                    <td>
                        <a asp-action="RemoveCartItem" asp-controller="ShoppingCart" asp-route-id="@cartItem.Product.ProductId">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>

                </tr>
            }

        </table>
        <p>Total Price: @TotalPrice</p>
        <a asp-action="Create" asp-controller="Orders" class="btn btn-default"> Proceed to checkout</a>

    }
    else
    {
        <p>Empty shopping cart</p>
    }

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script type="text/javascript">
        $(document).ready(function(){
            $(".newquantity").change(function(){
                var qnt=$(this).val();
                var productid=$(this).siblings(".productid").val();
                console.log(qnt, productid);

                $.ajax({
                    type: 'POST',
                    url: '/ShoppingCart/UpdateQuantity?id='+productid+'&quantity='+qnt,
                    success: function (result) {
                        location.reload(true);
                    }
                });
            });
        });
    </script>

</body>
</html>
