@model IEnumerable<Fiore.Models.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Fiore.styles.css" asp-append-version="true" />*@
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Home Controller</h1>
    </div>
    <div>
        <input type="text" class="keyword" placeholder="Search" />
        <input type="button" placeholder="Search" id="search" />
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    ProductName
                </th>

                <th>
                    UnitPrice
                </th>
                <th class="text-center">
                    Action
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.UnitPrice
                    </td>
                    <td>
                        <input type="hidden" value="@item.ProductId" class="productid" />

                        @if (@item.IsInCart)
                        {
                            <label class="hide qnt-lbl">Quantity:</label>
                            <input type="number" value="1" min="1" max="@item.UnitsInStock" class="qnt hide" />
                            <input type="button" value="Add to cart" class="add-to-cart hide" />
                            <a asp-action="ViewCart" class=" view-cart" asp-controller="ShoppingCart" id="viewcart">View Cart</a>
                        }
                        else
                        {
                            <label class="qnt-lbl">Quantity:</label>
                            <input type="number" value="1" max="@item.UnitsInStock" class="qnt" />
                            <input type="button" value="Add to cart" class="add-to-cart" />
                            <a asp-action="ViewCart" class="hide view-cart" asp-controller="ShoppingCart" id="viewcart">View Cart</a>

                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>


    <script type="text/javascript">
        
       @* function Filter(){
            var filter=$(".filter").val();
                console.log(filter);

                $.ajax({
                    type: 'POST',
                    url: '/Home/ProductsFilter?filter='+filter
                    success: function (result) {
                        alert('Successfully received Data ');
                    }
                });
        }*@


        $(document).ready(function() {

            $('#search').click(function(){
                var keyword = $(".keyword").val();
                console.log(keyword);

                window.location.assign("https://localhost:7258/Search/Index?keyword=" + keyword);

                //$.ajax({
                //    type: 'POST',
                //    url: '/Search/Index?keyword='+keyword
                //    success: function (result) {
                //        alert('Successfully received Data ');
                //    }
                //});
            });

            $(".add-to-cart").click(function(){
                console.log('test');
                 var productid= $(this).siblings('.productid').val();
                 var qnt= $(this).siblings('.qnt').val();
                 $(this).siblings('.view-cart').show();
                 $(this).siblings('.qnt').hide();
                 $(this).siblings('.qnt-lbl').hide();
                 $(this).hide();

                $.ajax({
                    type: 'POST',
                    url: '/ShoppingCart/AddCartItem?id='+productid+'&quantity='+qnt,
                    success: function (result) {
                        alert('Successfully received Data ');
                    }
                });
            });
        });
    </script>

</body>
</html>