@model Fiore.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> Your Order </h1>

<div class=text-center>
    <table class="table">
        <thead>
            <tr>
                <th>
                    OrderDate
                </th>
                <th>
                    TotalPrice
                </th>
                <th>
                    HouseNumber
                </th>
                <th>
                    StreetName
                </th>
                <th>
                    CityName
                </th>
                <th>
                    CountryName
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    @Model.OrderDate
                </td>
                <td>
                    @Model.TotalPrice
                </td>
                <td>
                    @Model.HouseNumber
                </td>
                <td>
                    @Model.StreetName
                </td>
                <td>
                    @Model.CityName
                </td>
                <td>
                    @Model.CountryName
                </td>
            </tr>
        </tbody>
    </table>

    <a asp-action="OrderProducts" asp-controller="ProductOrderDetails" asp-route-orderId="@Model.OrderId">View Order Details</a>
</div>
