@model IEnumerable<Fiore.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}
<html>
<body>


    <div class="text-center">
        <h1 class="display-4">Home Controller</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <h1>Index</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    ProductName
                </th>
                <th>
                    Description
                </th>

                <th>
                    UnitPrice
                </th>
                <th>
                    UnitsInStock
                </th>
                <th>
                    CreatedDate
                </th>
                <th>
                    UpdatedDate
                </th>
                <th>
                    Category
                </th>
                <th>
                    ImageName
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.Description
                    </td>

                    <td>
                        @item.UnitPrice
                    </td>
                    <td>
                        item.UnitsInStock)
                    </td>
                    <td>
                        @item.CreatedDate
                    </td>
                    <td>
                        @item.UpdatedDate
                    </td>
                    <td>
                        @item.Category.CategoryName
                    </td>
                    <td>
                        <img class="img-responsive" src="~/Images/Products/@(item.Category.CategoryName)/@(item.ImageName).jpg" width="250" height="110">
                    </td>
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>|*@

                        <form id="addtocartform" >
                            <label>Quantity:</label>
                            <input type="hidden" value="@item.ProductId" id="productid" />
                            <input type="number"  value="1" id="qnt" />
                            <input type="button" id="addtocartform" value="Add to cart" onclick="Add()" />
                        </form>
                        <a asp-action="ViewCart" class="visible" asp-controller="ShoppingCart" id="viewcart" asp-route-id="@item.ProductId">View Cart</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>

    <script type="text/javascript">
        function Add() {
            console.log('test');
            var qnt = $("#qnt").val();
            var productid = $("#productid").val();
            console.log(qnt, productid);
            //const data = {id: productid, quantity: qnt};
            $.ajax({
                type: 'POST',
                url: '/ShoppingCart/AddCartItem?id='+productid+'&quantity='+qnt,
                //data: data,
                success: function (result) {
                    $("addtocartform").hide(1000);
                    alert('Successfully received Data ');

                }
            })
        }

      

    </script>

</body>
</html>